<h1>Railsn00bs</h1>

<div class="navigation-link">
  <%= link_to(
    'Want to come along? Join the Meetup group',
    'http://www.meetup.com/WellingtonRailsn00bs/'
    )
  %>
</div>

<div class="navigation-link">
  <%= link_to(
    'Join the Railn00bs slack community!',
    'https://railsn00bs-slack.herokuapp.com/'
    )
  %>
</div>

<div class="navigation-link">
  <%= link_to(
    'Check out the Railn00bs community projects',
    'https://railsn00bs-wall.herokuapp.com/'
    )
  %>
</div>

<div class="navigation-link">
  <%= link_to(
    'Check out the Railsn00bs github',
    'https://github.com/Railsn00bs'
    )
  %>
</div>

<div class="upcoming">
  <div class="title">Events</div>

  <% @events.each do |event| %>
    <div>
      <%= link_to(
          event_line(event, @classifier),
          event.url
        )
      %>
    <div>
  <% end %>
</div>
